<h1>用户列表</h1>
<% if notice %>
  <p id="notice"><%= notice %>
<% end %>

<table>
  <thead>
    <tr>
      <th>用户名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to '显示详情', user %></td>
        <td><%= link_to '编辑用户', edit_user_path(user) %></td>
        <td><%= link_to '删除用户', user, method: :delete, data: { confirm: '您确定要删除这个用户吗？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '增加新用户', new_user_path %>
