<%= form_for(@ship) do |f| %>
  <% if @ship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ship.errors.count, "error") %> prohibited this ship from being saved:</h2>

      <ul>
      <% @ship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label '订单号码' %><br>
    <%= f.text_field :order_id %>
  </div>
  <div class="field">
    <%= f.label '发货日期' %><br>
    <%= f.date_select :send_date %>
  </div>
  <div class="field">
    <%= f.label '发货人' %><br>
    <%= f.text_field :sender %>
  </div>
  <div class="field">
    <%= f.label '快递公司' %><br>
    <%= f.text_field :express_company %>
  </div>
  <div class="field">
    <%= f.label '快递单号' %><br>
    <%= f.text_field :express_number %>
  </div>
  <div class="actions">
    <%= f.submit '保存快递信息'%>
  </div>
<% end %>
